@import 'tailwindcss';

@theme {
  --color-primary: #ff6867;
  --color-header: #f8f8f8;
  --color-bg: #f6f8ff;
  --color-white: #ffffff;
  --color-text-secondary: #747474;
  --color-low: #08a204;
  --color-medium: #eab308;
  --color-high: #f31e1f;
  --color-not-start: #6b7280;
  --color-pending: #3b82f6;
  --color-completed: #16a34a;
}

@layer components {
  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 1rem;
  }

  @media (min-width: 640px) {
    .container {
      max-width: 640px;
    }
  }

  @media (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  }

  @media (min-width: 1024px) {
    .container {
      max-width: 1024px;
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  @media (min-width: 1280px) {
    .container {
      max-width: 1200px;
    }
  }
}
